<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Setting Default Directories-->
    <add key="SourceDirectory" value="C:\Users\Lucas\Documents\" />
    <add key="DestinationDirectory" value="C:\Users\Luke\Documents\Test\" />
    <add key="ProcessedDirectory" value="C:\Users\Luke\Documents\BackupTest\" />
    <!--Choose to copy/move the files to a directory (default set to active)-->
    <add key="CreateDirectoryWithUnitNumber" value="1" />
    <add key="MoveOriginalToProcessed" value="1"/>
    <!--Allowing users to select their own directory-->
    <add key="DestinationInputEnabled" value="0" />
    <add key="ProcessedInputEnabled" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>